@model List<Library_Management_Sysytem.Context.Book>
@{
    ViewBag.Title = "BookPage";
    Layout = "~/Views/Shared/_Admin-Layout.cshtml";
}

<div class="card mt-4">
    <div class="card-header">
        <a class="btn btn-primary float-end" href="@Url.Action("Index","Admin")">Back to Main</a>
        <h2 class="">Books Collections:@ViewBag.BookCount</h2>
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th class="border">Picture</th>
                    <th class="border">Name</th>
                    <th class="border">Author</th>
                    <th class="border">Language</th>
                    <th class="border">Date</th>
                    <th class="border">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="border text-center"> <img style="height:40px; width:40px;" src="@item.File.Replace("~","")" /></td>
                        <td class="border text-center">@item.Name</td>
                        <td class="border text-center">@item.Author</td>
                        <td class="border text-center">@item.Language</td>
                        <td class="border text-center">@item.AddDate</td>
                        <td class="border text-center">
                            <a class="btn btn-danger" href="@Url.Action("DeleteBook", "Admin", new { ID = item.BookID })" onclick="return confirm('Are you sure you want to delete this Book?');">Delete</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

