@model Library_Management_Sysytem.Context.User
@{
    ViewBag.Title = "UpdateStudent";
    Layout = "~/Views/Shared/_Librarian-Layout.cshtml";
}

@using (Html.BeginForm("UpdateStudents", "Librarian", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        <div class="card">
            <div class="card-header">
                <h4>Librarian</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    @Html.HiddenFor(model => model.UId)
                    <div class="form-group col-md-6 col-lg-4 col-sm-12">
                        <label>Name</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6 col-lg-4 col-sm-12">
                        <label>Phone</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6 col-lg-4 col-sm-12">
                        <label>Email</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6 col-lg-4 col-sm-12">
                        <label>Username</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6 col-lg-4 col-sm-12">
                        <label>Password</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6 col-lg-4 col-sm-12">
                        <label>Roll No</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.RollNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RollNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6 col-lg-4 col-sm-12">
                        <label for="Department" class="form-label">Select Department</label>
                        @Html.DropDownListFor(m => m.Department,
                            new SelectList(new[]
                            {
                                new { Value = "Computer Science", Text = "Computer Science" },
                                new { Value = "Physics", Text = "Physics" },
                                new { Value = "English", Text = "English" },
                                new { Value = "Math", Text = "Math" }
                            }, "Value", "Text"),
                            "--Select Department--",
                            new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-6 col-lg-4 col-sm-12">
                        <label for="ImgFile">Current Picture</label>
                        <div class="col-md-10 mb-2">
                            @if (!string.IsNullOrEmpty(Model.ImgFile))
                            {
                                <img src="@Url.Content(Model.ImgFile)" alt="Profile Picture" style="width:150px; height:150px; object-fit:cover;" />
                            }
                            else
                            {
                                <p>No image uploaded.</p>
                            }
                        </div>

                        <label for="ImageFile">Upload New Picture</label>
                        <div class="col-md-10">
                            <input type="file" name="ImageFile" class="form-control" />
                            @Html.ValidationMessage("ImageFile", "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


